body {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.color {
    color: #0D1321;
}

.p-color {
    color: rgba(128, 128, 128, 0.726);
}

/* navBar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-left {
    font-size: 28px;
}

.nav-right {
    border: 1px solid black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 17px 24px;
    border-radius: 8px;
}

/* header */
.hero {
    background: url(images/Hero-bg.png);
    margin-bottom: 100px;
    padding: 30px 0;
}

.header {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.header-h1 {
    font-size: 40px;
}

.header-p {
    font-size: 14px;
    padding: 0 100px;
    margin-bottom: 25px;
    color: gray;
}

.contact-btn {
    background-color: #0D1321;
    ;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 17px 24px;
    border-radius: 8px;
}

/* why */
.why {
    padding: 60px 100px;
    background-color: #0d132105;
    border-radius: 16px;
    margin-bottom: 100px;
}

.why-heading {
    text-align: center;
    padding: 0 30px;
}

.why-p {
    font-size: 14px;
}

.why-card {
    background-color: white;
    padding: 35px 30px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 56px;
    margin: 20px 0;
}

.why-h3 {
    color: gray;
    margin-bottom: 20px;
}

.why-btn {
    color: gray;
    padding: 12px 30px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid gray;
    margin-top: 20px;
    cursor: pointer;
}
/* inspiration */
.inspiration{
    margin-bottom: 100px;
}

.inspiration-video {
    border-radius: 16px;
    border: 1px solid #0D1321;
    padding: 20px;
    margin-top: 40px;
}

.video {
    overflow: hidden;
    border-radius: 16px;
}

/* current Target */
.current-target,.Next-target{
    margin-bottom: 100px;
}
.current-target-boxes{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}
.current-box{
    padding: 40px;
    border-radius: 16px;
}
.current-box-1{
    background-color: #ff4b1e11;
}
.current-box-2{
    background-color: #004de813;
}
.current-box-3{
    background-color: #ffdd0010;
}
.current-box,.next-box p{
    font-size: 14px;
}
.current-box,.next-box a{
    color: black;
    font-weight: bold;
}

/* next Target */
.next-target-boxes{
    margin-top: 50px;
}
.next-box{
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

/* support */

.support{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/handshake.jpg);
    border-radius: 16px;
    text-align: center;
    padding: 64px;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}
.support h2{
    color: white;
}
.support p{
    color: white;
    font-size: 12px;
    margin: 20px 0;
}
.form input{
    height: 33px;
    width: 370px;
    border-radius: 7px;
    border: none;
    font-size: 13px;
    padding-left: 20px;
}
.form button{
    border: none;
    background-color: white;
    color: black;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}

/* footer */
.footer{
    background-color: #40c56811;
    padding: 10px;
}
.footer-content h3{
    font-size: 14px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
